* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("./images/spray.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 100px;
  display: flex;
}

.container {
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  width: 512px;
  height: 512px;
  background-color: white;
}

.box {
  box-sizing: border-box;
  border: 1px solid black;
  transition: background-color 0.3s ease-in-out;
}

@media screen and (min-width: 1025px) {
  .mdl-layout__drawer-button {
    display: none;
  }
}

#gridSlider {
  text-align: center;
  width: 10vw;
  margin-left: 20px;
}

@media screen and (max-width: 1024px) {
  #gridSliderSmall {
    width: 80% !important;
    height: 3vh;
    margin: auto;
    margin-bottom: 1vh;
  }

  body {
    background-size: contain;
    background-position: -100px 200px;
  }
}

@media screen and (max-width: 800px) {
  main {
    width: 90vw;
    height: 90vw;
  }

  body {
    background-size: contain;
    background-position: 0 400px;
  }
}
