html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  width: 500px;
  height: 500px;
}

.box {
  box-sizing: border-box;
  border: 1px solid black;
  margin-top: -1px;
  margin-left: -1px;
}
